APP_NAME="SDTQ Nurul Ilmi"
APP_ENV=production
APP_KEY=PASTE_APP_KEY_DARI_ENV_LOKAL
APP_DEBUG=false
APP_URL=https://DOMAIN_ANDA

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_TIMEZONE=Asia/Jakarta

LOG_CHANNEL=single
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=HOST_MYSQL_DARI_INFINITYFREE
DB_PORT=3306
DB_DATABASE=NAMA_DATABASE_DARI_INFINITYFREE
DB_USERNAME=USERNAME_DATABASE_DARI_INFINITYFREE
DB_PASSWORD=PASSWORD_DATABASE_DARI_INFINITYFREE

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=local
PUBLIC_FILESYSTEM_ROOT=public/storage
